<!DOCTYPE html>
<html lang="hi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahashivratri Blessings</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="flower-container"></div>

<div class="main-container">

    <div class="welcome-section">
        <h1>ॐ नमः शिवाय</h1>
        <p>Mahashivratri Par Pavitra Ashirwad Prapt Karein</p>

        <input type="text" id="username" placeholder="Apna Naam Likhiye">
        <button onclick="sendName()">Ashirwad Prapt Karein</button>
    </div>

    <div id="divineSection" class="hidden">
        <div class="image-wrapper">
            <img id="slideshow" src="/static/shiv1.jpg">
        </div>
    </div>

</div>

<audio id="bgSong" src="/static/bhajan.mp3" loop></audio>

<script src="/static/script.js"></script>

</body>
</html>
